<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>589908653077-3fejdte7bnhr5mp2bdffjlque1p4fk7p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.589908653077-3fejdte7bnhr5mp2bdffjlque1p4fk7p</string>
	<key>API_KEY</key>
	<string>AIzaSyCu6qD4fl0jaVhWiqndkpsEbkVq_G-YfgQ</string>
	<key>GCM_SENDER_ID</key>
	<string>589908653077</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nrg.Firegram</string>
	<key>PROJECT_ID</key>
	<string>firegram-d4eac</string>
	<key>STORAGE_BUCKET</key>
	<string>firegram-d4eac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:589908653077:ios:b11ca25cb41b3828</string>
	<key>DATABASE_URL</key>
	<string>https://firegram-d4eac.firebaseio.com</string>
</dict>
</plist>